# Basic Data Type : Integer And Float
 ## integer
    - 32 Bit
    - 64 Bit

In [1]:
 int_number = 7/2
int_number

3.5

 ## Float

In [2]:
float_number = 5.3 / 2
float_number

2.65

 ## String 
     - it can be wirtten in single, double and triple quotes

In [3]:
String_one = 'hello'
String_two = "hi"
String_three = """welcome"""

In [4]:
print(String_one + String_two + String_three)

hellohiwelcome

## None and Boolean

    - None --> null
    - Boolean ----> True, False

In [5]:
num_X = None 
num_X is None

True

In [6]:
num_y = 10.4
num_y is None

False

# Type Casting 
    Type Casting is a process in which we convert a literal of one type to another.

In [7]:
float_number = 10.5
print(float_number)
type(float_number)

10.5

float

In [8]:
# type cast float_number to int
int(float_number)

10

# Tuple 
    A tuple is one dimessional, immutable ordered sequence of item  which can be mixed of items

In [9]:
first_tuple = (12,"jack",45.6,(3,2))

In [10]:
first_tuple

(12, 'jack', 45.6, (3, 2))

In [11]:
first_tuple[1]

'jack'

In [12]:
# the index count start from right , with the first index being -1
first_tuple[-3]

'jack'

## Tuple Slicing
        count start with the first index but end with the index-1

In [13]:
first_tuple

(12, 'jack', 45.6, (3, 2))

In [14]:
first_tuple[1:3]

('jack', 45.6)

In [15]:
first_tuple[1:-1]

('jack', 45.6)

# List
* A list is a one-dimensional, mutable ordered sequence of items which can be of mixed data type

In [16]:
first_list = [12,"jack",45.6,(3,2)]

In [17]:
first_list

[12, 'jack', 45.6, (3, 2)]

In [18]:
first_list[1]

'jack'

In [19]:
# modifying list which is not  done in tuple
first_list.append('rahul')
first_list

[12, 'jack', 45.6, (3, 2), 'rahul']

In [20]:
first_list.remove('rahul')
first_list

[12, 'jack', 45.6, (3, 2)]

In [21]:
# removing from Specific index
first_list.pop(1)

'jack'

In [22]:
first_list

[12, 45.6, (3, 2)]

In [23]:
# insert an item at specific index
first_list.insert(1,"raj")
first_list

[12, 'raj', 45.6, (3, 2)]

  ## Slicing Lists

In [24]:
first_list[1:2]

['raj']

In [25]:
first_list.append("Rahul")

In [26]:
first_list[1:3]

['raj', 45.6]

In [27]:
first_list

[12, 'raj', 45.6, (3, 2), 'Rahul']

## Dictionary(dict)

* Dictionaries store a mapping between a set of keys and a set of values.
     * key - any immutable type
     * value - any data type

In [28]:
# create a dict

first_dict ={'1':'rahul','2':'rajan','3':'rajhul','id':[25,26]}

In [29]:
# view entire dictionary
first_dict

{'1': 'rahul', '2': 'rajan', '3': 'rajhul', 'id': [25, 26]}

In [30]:
# view only key
first_dict.keys()

dict_keys(['1', '2', '3', 'id'])

In [31]:
# view only values
first_dict.values()

dict_values(['rahul', 'rajan', 'rajhul', [25, 26]])

In [32]:
# Acess with key
first_dict['1']

'rahul'

In [33]:
#modify Dictionary
first_dict.update({'1':'rahulraj'})

In [34]:
first_dict

{'1': 'rahulraj', '2': 'rajan', '3': 'rajhul', 'id': [25, 26]}

In [35]:
type(first_list)

list

In [36]:
type(first_tuple)

tuple

In [37]:
type(first_dict)

dict

## Set
   * A set is an unorderd collection of unique elements

In [38]:
# create set
first_Set = set(['audi','BMW','BMW','FERRARI','Lamborgini'])

In [39]:
first_Set

{'BMW', 'FERRARI', 'Lamborgini', 'audi'}

In [40]:
second_set = set(['BMW','Kia','Tata','Nexon','Toyota','FERRARI'])

In [41]:
# union set Operation
combined_one_two_Set_union =first_Set | second_set

In [42]:
combined_one_two_Set_union

{'BMW', 'FERRARI', 'Kia', 'Lamborgini', 'Nexon', 'Tata', 'Toyota', 'audi'}

In [43]:
#intersection / And set operation 
combined_one_two_Set_intersection = first_Set & second_set

In [44]:
combined_one_two_Set_intersection

{'BMW', 'FERRARI'}

# BASIC OPERATOR

* In: the in operator is used to generate a Boolean value to indicate whether a given value is present in the container or not.
* plus(+) : The plus operator produces a new tuple, list, or string whose value is the concatenation of its arguments.
* multiplication(*):The multiplication operator produces a new tuple, list, or string that repeats the original content.

In [45]:
first_list

[12, 'raj', 45.6, (3, 2), 'Rahul']

In [46]:
12 in first_list

True

In [47]:
11 in first_list

False

In [48]:
word = 'encyclopedia'

In [49]:
'i' in word

True

In [50]:
't' in word

False

In [51]:
second_tuple =(23,11,32)
second_tuple

(23, 11, 32)

In [52]:
print(first_tuple)
print(second_tuple)

(12, 'jack', 45.6, (3, 2))
(23, 11, 32)

In [53]:
# concatenation of two tuple with + argument
concatenation_tuple = first_tuple + second_tuple
concatenation_tuple

(12, 'jack', 45.6, (3, 2), 23, 11, 32)

In [54]:
# * operator does not actually multiply the values; it only repeats the values for the specified number of times
first_tuple * 3

(12, 'jack', 45.6, (3, 2), 12, 'jack', 45.6, (3, 2), 12, 'jack', 45.6, (3, 2))

In [55]:
name = 'friend'
name * 3

'friendfriendfriend'