# Function

##### Functions are the primary and most important method of code organization and reuse in Python.

### Syntax
  
  def functionname (arg);
    
        <statement>
    
            return <value>
            
   * Outcome of the function is communicated by return statement
   * Arguments in parenthesis are basically assignments
 ### Some important points to consider while defining functions:
        * A function should always have a return value.
        * If return is not defined, then it returns None.
        * Function overloading is not permitted.
        
        
        
   ## You can use a function to return a single value or multiple values.

In [1]:
# creating first function
def my_first_function(name):
    return name
print(my_first_function('rahul'))

rahul

In [2]:
# create  Function

def add_two_number(num1,num2):
    return num1+num2   # returning single value
number1 = 10;
number2 = 20;

# calling add_two_number_function
result =  add_two_number(number1,number2)
result

30

In [3]:
# creating function
def profile(age, height, weight):
    return age, height, weight  # returning multiple values
age = 26;
height = 5.8;
weight = 65;

# calling profile function
profile_result = profile(age,height,weight)
profile_result

(26, 5.8, 65)

# Built-in Sequence Functions
## The built-in sequence functions of Python are:
### enumerate
    * Indexes data to keep track of indices and corresponding data mapping
### sorted
    * Returns the new sorted list for the given sequence
### reversed
    * Iterates the data in reverse order
### Zip
    * Creates lists of tuples by pairing up elements of lists, tuples, or other sequence

In [4]:
store_list = ['McDonnald','Kfg','StarBucks','PizzaHut','Dominos']

In [5]:
store_list

['McDonnald', 'Kfg', 'StarBucks', 'PizzaHut', 'Dominos']

In [6]:
# printing data element and index using enumerate method
for position, name in enumerate(store_list):
    print(position, name)

0 McDonnald
1 Kfg
2 StarBucks
3 PizzaHut
4 Dominos

In [7]:
# sorted data using sorted method
sorted(store_list)

['Dominos', 'Kfg', 'McDonnald', 'PizzaHut', 'StarBucks']

In [8]:
sorted('the data science')

[' ',
 ' ',
 'a',
 'a',
 'c',
 'c',
 'd',
 'e',
 'e',
 'e',
 'h',
 'i',
 'n',
 's',
 't',
 't']

In [9]:
num_list  = range(15)
list(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
#printinf num_list in reverse order using reversed_function
list(reversed(num_list))

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [11]:
print(store_list)
store_list_count = ['one','two','three','four','five']
print(store_list_count)

['McDonnald', 'Kfg', 'StarBucks', 'PizzaHut', 'Dominos']
['one', 'two', 'three', 'four', 'five']

In [12]:
# Zip function to pair the data elements of lists
total_store= list(zip(store_list,store_list_count))
print(total_store)

[('McDonnald', 'one'), ('Kfg', 'two'), ('StarBucks', 'three'), ('PizzaHut', 'four'), ('Dominos', 'five')]

# CONTROL FLOW

#### The if, elif, and else statements are the most commonly used control flow statements.
* A for loop is used to iterate over a collection (like a list or tuple) or an iterator.
* A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break.

In [13]:
# if else statement
age = 21

if age<18:
    print('minor')
else:
    print('adult')

adult

In [14]:
# Nested if, elif, and else
mark =81
if mark > 90:
    print('Grade A')
elif 80<= mark <=90:
    print('Grade B')
elif 70<= mark <=80:
    print('Grade c')
elif 60<= mark <=70:
    print('Grade d')
else: 
    print('Grade f')

Grade B

In [15]:
store_list.insert(3,None)

In [16]:
for store_name in (store_list):
    if(store_name is None):
        print('pizzahut is near you')
        break

pizzahut is near you

In [18]:
#while loop
temperature  = 100 
while temperature > 95:
    print(temperature)
    temperature=temperature-1

100
99
98
97
96

In [19]:
def test_float(float_value):
    return float(float_value)

In [20]:
test_float(3.5)

3.5

In [21]:
test_float(1)

1.0

In [23]:
test_float("String") # passing wrong value to overcome we can use exception handling

ValueError: could not convert string to float: 'String'

# EXCEPTION HANDLING
Handling Python errors or exceptions gracefully is an important part of building robust programs and algorithms.

In [24]:
def test_float_fun(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number you are passing String',number

In [25]:
test_float_fun(1)

1.0

In [26]:
test_float_fun(3.5)

3.5

In [27]:
test_float_fun('string')

('not a number you are passing String', 'string')